[experts]

[students]

[services]

[company]

[extendedLocalePicker]

[projects]

[Subscriptionform]

[mainContactForm]

[states]
==
<!DOCTYPE html> 
<html lang="">    
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>{{ this.page.title }} | EduSupport </title>
        <meta name="description" content="{{ this.page.description }}">
        
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" href="{{ 'assets/images/edu_logo.png'| theme}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/images/favicon.png'| theme}}">
        
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/font-awesome.min.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/animate.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/owl.carousel.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/slick.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/off-canvas.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/fonts/linea-fonts.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/fonts/flaticon.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/magnific-popup.css' | theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/rsmenu-main.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/rs-spacing.css' | theme }}">
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | theme }}"> 
        <link rel="stylesheet" type="text/css" href="{{ 'assets/css/responsive.css' | theme }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <meta name="yandex-verification" content="ac6fe90e82cfa327" />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head> 
    <body class="default-home">
    
        {% partial 'layout/header' %}

        <!-- Content -->
        <section id="layout-content">
            <div class="main-content">
                {% page %}
            </div>
        </section>

        {% partial 'layout/footer' %}
  


        <!-- Search Modal Start -->
        <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="flaticon-cross"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="{{ 'Axtarış' | _ }}..." type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Modal End -->

        <script src="{{ 'assets/js/modernizr-2.8.3.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/jquery.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/bootstrap.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/rsmenu-main.js' | theme }}"></script> 
        <script src="{{ 'assets/js/jquery.nav.js' | theme }}"></script>
        <script src="{{ 'assets/js/owl.carousel.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/slick.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/isotope.pkgd.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/skill.bars.jquery.js' | theme }}"></script>
        <script src="{{ 'assets/js/jquery.counterup.min.js' | theme }}"></script>        
        <script src="{{ 'assets/js/waypoints.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/jquery.mb.YTPlayer.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/jquery.magnific-popup.min.js' | theme }}"></script>
        <script src="{{ 'assets/js/tilt.jquery.min.js' | theme }}"></script>      
        <script src="{{ 'assets/js/plugins.js' | theme }}"></script>
        <!-- <script src="{{ 'assets/js/contact.form.js' | theme }}"></script> -->
        <script src="{{ 'assets/js/main.js' | theme }}"></script>
        <!--Start of Tawk.to Script-->
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/60913e73b1d5182476b5777e/1f4rlnsrj';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

        {% framework extras %}
    </body>
</html>