<nav class="rs-menu">
    <ul class="nav-menu">
      <li class=" {% if this.page.id == 'home' %} current-menu-item  {% endif %}">
        <a href="{{ 'home'| page }}">
          {{'Əsas Səhifə'|_}}
        </a>
      </li>
      <li class=" {% if this.page.id == 'about' %} current-menu-item {% endif %} ">
        <a href="{{ 'about'| page }}">{{'Haqqımızda'|_}}</a>
      </li>
      <li class="menu-item-has-children  {% if this.page.id == 'services' or this.page.id == 'service' %} current-menu-item {% endif %}">
        <a href="{{ 'services' | page }}" >{{'Xidmətlər'|_}}</a>
        <ul class="sub-menu">
          {% for service in services %}
          <li><a href="{{ 'service'| page({id:service.id}) }}">{{ service.title }}</a> </li>
          {% endfor %}
        </ul>
      </li>

      <li class=" {% if this.page.id == 'students' %} current-menu-item {% endif %}">
        <a href="{{ 'students'| page }}">{{'Tələbələr'|_}}</a>
      </li>

      <li class=" {% if this.page.id == 'events' or this.page.id == 'events-detailed' %} current-menu-item {% endif %}">
        <a href="{{ 'events' | page }}">{{'Tədbirlər'|_}}</a>
      </li>

      <li class=" {% if this.page.id == 'blog' or this.page.id == 'blog-categories' or this.page.id == 'post' %} current-menu-item {% endif %}">
        <a href="{{ 'blog'| page }}">{{'Bloq'|_}}</a>
      </li>
      <li class=" {% if this.page.id == 'contacts' %} current-menu-item {% endif %}">
        <a href="{{ 'contacts'| page }}">{{'Əlaqə'|_}}</a>
      </li>
    </ul> 
  </nav>