title = "Tour"
url = "/tour/:id"
layout = "default"
is_hidden = 0

[tourContactForm]
==
<?php
use Gadimlie\Tours\Models\Tour;
public function onStart() {
    $tour = Tour::find($this->param('id'));
    $this->page->title = $tour->title; 
    $this['tour'] = $tour;
}
?>
==
<div class="d-none">
       <input type="hidden" name="url" value="{{ ''| page }}">
   <input type="text" name="name" placeholder="{{ 'Name and surname' |_ }}">
   <input type="tel" name="phone" placeholder="{{ 'Whatsapp number' |_ }}">
   <input type="text" name="email" placeholder="{{ 'Email' |_ }}">
   <textarea name="msg" placeholder="{{ 'Message' |_ }}"></textarea>
   <button type="submit" class="btn btn-success px-3">{{ 'Send' |_ }}</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="false" aria-hidden="true" style="z-index: 100000000">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">{{ tour.title }}</h3>

        <button type="button" class="btn btn-secondary px-3" data-dismiss="modal">{{ 'Close' |_ }}</button>

        </div>
        <div class="modal-body">

            <div class="col-12">
                <div id="contact-form1" class="contact-form">
                    <h5 class="">{{ 'Please provide your contact details. The manager will contact you within an hour.' |_ }}</h5>
                    {% component 'tourContactForm' %}

                    <div id="contactform-error-msg"></div>
                </div>
            </div>


        </div>

    </div>
    </div>
</div>
<section class="breadcrumb-main pb-0" style="background-image: url({{ tour.image | media }});">
    <div class="breadcrumb-outer pt-10 pb-10">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h2 class="mb-5">{{ tour.title }}</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ 'home' | page }}">{{ 'Home' |_ }}</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>

<div class="d-flex justify-content-center">
    <div id="inline-gallery-container" class="inline-gallery-container"></div>
</div>


<section class="blog trending destination-b">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="single-content">
                    <div class="single-full-title border-b mb-2 pb-2">
                        <div class="single-title">
                            <div class="rating-main d-sm-flex align-items-center">
                                <p class="mb-0 mr-2"><i class="flaticon-location-pin"></i> {{ tour.location }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="description-images mb-4">
                        <div class="thumbnail-images">
                            <div class="slider-for">
                                {% for image in tour.images %}
                                <div>
                                    <img src="{{ image.image | media }}">
                                </div>
                                {% endfor %}
                            </div>
                            <div class="slider-nav">
                                {% for image in tour.images %}
                                <div>
                                    <img src="{{ image.image | media }}" >
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tour-includes mb-4" data-aos="fade-down">
                        <table>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-clock-o pink mr-1" aria-hidden="true"></i> {{ 'Duration' |_ }}: {{ tour.duration }}</td>
                                    <td><i class="fa fa-user-friends pink mr-1" aria-hidden="true"></i> {{ 'Max people' |_}}: {{ tour.max_people }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-child pink mr-1" aria-hidden="true"></i> {{ 'Minimal age' |_ }}: {{ tour.min_age }}</td>
                                    <td><i class="fa fa-language pink mr-1" aria-hidden="true"></i> {{ 'Language' |_ }}: {{ tour.language }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="description mb-2" data-aos="fade-up" >
                        <div class="row">
                            <div class="col-lg-6 col-md-6 mb-2 pr-2">
                                <div class="desc-box">
                                    <h5 class="mb-1">{{ 'Tour start at' |_ }}:</h5>
                                    <p class="mb-0">{{ tour.starts }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-2 pl-2">
                                <div class="desc-box">
                                    <h5 class="mb-1">{{ 'Tour ends at' |_ }}:</h5>
                                    <p class="mb-0">{{ tour.finish }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-2 pr-2">
                                <div class="desc-box">
                                    <h5 class="mb-1">{{ 'Meeting point' |_ }}:</h5>
                                    <p class="mb-0">{{ tour.meeting_point }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-2 pl-2">
                                <div class="desc-box">
                                    <h5 class="mb-1">{{ 'Pick up' |_ }}</h5>
                                    <p class="mb-0">{{ tour.pickup }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-2 pr-2">
                                <div class="desc-box">
                                    <h5 class="mb-1">{{ 'Price includes' |_}} </h5>
                                    <ul>
                                        {% for included in tour.included %}
                                        <li><i class="fa fa-check pink mr-1"></i>{{ included.point }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-2 pl-2">
                                <div class="desc-box">
                                    <h5 class="mb-1">{{ 'Price does not include' |_ }}</h5>
                                    <ul>
                                        {% for excluded in tour.excluded %}
                                        <li><i class="fa fa-close pink mr-1"></i>{{ excluded.point }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description mb-2">
                        <h4>{{ 'Description' |_ }}</h4>
                        {{ tour.description | raw }}
                    </div>
                    <div class="accrodion-grp faq-accrodion mb-4" id="iternary" data-grp-name="faq-accrodion">
                        <h4>{{ 'Iternary' |_ }}</h4>
                        {% for iternary in tour.iternary %}
                        <div class="accrodion {% if loop.first %}active{% endif %}">
                            <div class="accrodion-title">
                                <h5 class="mb-0"><span>{{ iternary.question }}</h5>
                            </div>
                            <div class="accrodion-content" style="display: block;">
                                <div class="inner">
                                    <p>{{ iternary.answer | raw }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                </div>
            </div>
            <div class="col-md-4 col-xs-12" data-aos="zoom-in-left">
                <div class="sidebar-sticky">
                    <div class="list-sidebar">
                        <div class="sidebar-item">
                            <form class="form-content">
                                <h4 class="title white text-center">{{ 'JOIN TOUR' |_ }}</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <span class="white">{{ 'Price' |_ }}</span>
                                            <h3 class="choosen-date white mb-0">{{ tour.price }} AZN</h3>
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="nir-btn w-100" data-toggle="modal" data-target="#exampleModalCenter">
                                            {{ 'Request booking'|_ }}
                                        </button>


                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="sidebar-item" data-aos="fade-up">
                            <div class="sidebar-contact text-center bg-navy">
                                <i class=" fab fa-whatsapp white" style="font-size: 48px"></i>
                                <h3 class="white"><span>{{ 'Book</span> by WhatsApp' |_ }}</h3>
                                <a href="https://wa.me/{{ company.wp }}" class="phone white">{{ company.wp }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>