title = "О нас"
url = "/o-nas"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "About"
localeUrl[en] = "/about-us"

[experts]
==
{% partial 'nav/breadcrumb' 
	title = ( 'Haqqımızda' | _) 
	links = [
				{'title': ( 'Haqqımızda' | _) }
			]
	%}


{% for info in company.info %}
{% if loop.index % 2 == 1 %}
<div id="rs-about" class="rs-about style1 {% if loop.index == 1 %} pt-100 {% endif %} pb-25 about-page-section">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-lg-6 order-last padding-0 md-pl-15 md-pr-15 md-mb-30">
				<div class="img-part">
					<img class="" src="{{ info.img | media}}" alt="{{ info.title }}">
				</div>
			</div>
			<div class="col-lg-6 pr-70 md-pr-15">
				<div class="sec-title">
					<h2 class="title mb-17">{{ info.title }}</h2>
					<div class="desc mb-22">{{ info.text | raw }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div id="rs-about" class="rs-about style2 pt-50 pb-25 about-page-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 order-last pl-70 md-pl-15">
				<div class="sec-title">
					<h2 class="title mb-17">{{ info.title }}</h2>
					<div class="desc mb-22">{{ info.text | raw }}</div>
				</div>
			</div>
			<div class="col-lg-6  padding-0 md-pl-15 md-pr-15 md-mb-30">
				<div class="img-part">
					<img class="" src="{{ info.img | media}}" alt="{{ info.title }}">
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}

<!-- Team Section Start -->
<div id="rs-team" class="rs-team style1 orange-color pt-94 pb-100 md-pt-64 md-pb-70 gray-bg ">
	<div class="container">
		<div class="sec-title mb-50 md-mb-30 text-center">
			<h2 class="title mb-0">{{ 'Komandamız' |_}}	
			</h2>
		</div>
		<div class="rs-carousel owl-carousel nav-style2 orange-color" data-loop="true" data-items="3" data-margin="30"
			data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
			data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
			data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false"
			data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false"
			data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">
			{% for expert in experts %}
			<div class="team-item">
				<img src="{{ expert.profile_img | media }}" alt="" style="height:100%">
				<p class="text-center font-weight-bold mt-3" style="font-size: 18px;">
					{{ expert.name }}
					<br>
					{{ expert.post }}
				</p>
				<!-- <div class="content-part">
					<h4 class="name" style="color: white">
							{{ expert.name }}
						</h4>
					<span class="designation">{{ expert.post  }}</span>
					{% for social in expert.socials %}
					<ul class="social-links">
						<li><a href="{{ social.url }}"><i class="{{ social.title }}"></i></a></li>
					</ul>
					{% endfor %}
				</div> -->
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- Team Section End -->

<!-- Categories Section Start -->
<div id="rs-categories" class="rs-categories home9-style event-bg pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="sec-title3 text-center mb-45">
            <h2 class="title black-color">{{ 'Xidmətlərimiz' |_ }}</h2>
        </div>
		<div class="rs-carousel owl-carousel nav-style2 orange-color" data-loop="true" data-items="3" data-margin="30"
			data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
			data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
			data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false"
			data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false"
			data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">

					{% for service in services %}
					<div class="categories-items">
						<div class="images-part">
							<a href="{{ 'service' | page({id:service.id}) }}">
								<img src="{{ service.image | media }}" alt="">
							</a>
						</div>
						<div class="image-content text-center">

							<div class="title">
								<a href="{{ 'service' | page({id:service.id}) }}">{{ service.title }}</a>
							</div>
							<div class="description">
								<p>
									{{ service.excerpt | raw }}
								</p>
							</div>
						</div>
					</div>
					{% endfor %}

		</div>
    </div>
</div>
<!-- Categories Section End -->
<!-- <div id="rs-categories" class="rs-categories home9-style event-bg pt-100 pb-100 md-pt-70 md-pb-70" style="background-color: white !important;">
    <div class="container">
        <div class="sec-title3 text-center mb-45">
            <h2 class="title black-color">{{ 'Tələbələrimiz' |_ }}</h2>
        </div>
		<div class="row">
			{% for student in students %}
			<div class="col-12 col-lg-6">
				<div class="testi-item">
					<div class="row y-middle no-gutter">
						<div class="col-md-3 mr-4">
							<div class="user-info">
								<img src="{{ student.profile_img  | media }}"class="mb-1" alt="">
								<h4 class="name text-center">{{ student.name }}</h4>
							</div>
						</div>
						<div class="col-md-8">
							<div class="desc">
								{{ student.info | raw }}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div> -->

<!-- Categories Section Start -->

<!-- Categories Section End -->
<!-- Partner Start -->
<!-- <div class="rs-partner mt-100 pb-100 md-pb-70">
	<div class="container">
		
		<div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true"
			data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true"
			data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false"
			data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false"
			data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5"
			data-md-device-nav="true" data-md-device-dots="false">
			<div class="partner-item">
				<a href="about2.html#"><img src="{{ 'assets/images/partner/1.png' | theme }}" alt=""></a>
			</div>
			<div class="partner-item">
				<a href="about2.html#"><img src="{{ 'assets/images/partner/2.png' | theme }}" alt=""></a>
			</div>
			<div class="partner-item">
				<a href="about2.html#"><img src="{{ 'assets/images/partner/3.png' | theme }}" alt=""></a>
			</div>
			<div class="partner-item">
				<a href="about2.html#"><img src="{{ 'assets/images/partner/4.png' | theme }}" alt=""></a>
			</div>
		</div>
	</div>
</div> -->
<!-- Partner End -->

<div class="rs-newsletter style1 event-bg orange-color mb--90 sm-mb-0 sm-pb-70">
	<div class="container">
	   <div class="newsletter-wrap">
		  <div class="row y-middle">
				<div class="col-lg-6 col-md-12 md-mb-30">
				   <div class="content-part">
					  <div class="sec-title">
						 <div class="title-icon md-mb-15">
							   <img src="{{ 'assets/images/newsletter.png' | theme }}" alt="images">
						 </div>
						 <h2 class="title mb-0 white-color mt-0">{{ 'Xəbərlərə abunə ol' }}</h2>
					  </div>
				   </div>
				</div>
				<div class="col-lg-6 col-md-12">
				   {% component 'Subscriptionform' %}
				</div>
		  </div>
	   </div>
	</div>
</div>