title = "Home 2"
url = "/2"
layout = "default"
is_hidden = 0
==
<!-- Banner Section Start -->
<div id="rs-banner" class="rs-banner style8">
    <div class="container">
        <div class="banner-content">
            <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">{{ 'Xaricdə təhsil üçün peşakar məkan' |_ }}</h1>
            <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                <a class="readon yellow-btn" href="{{ 'about' | page }}">{{ 'Daha ətraflı' |_ }}</a>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- Features Section start -->
<div id="rs-features" class="rs-features style2">
    <div class="container">

        <div class="row">
        <a href="{{ 'students' | page }}" class="d-inline-block">
            <div class="col-lg-3 col-md-6 md-mb-30">
                <div class="rs-iconbox-area">
                    <div class="icon-area">
                        <img src="{{'assets/images/features/style2/1.png'|theme}}" alt="">
                    </div>
                    <div class="text-area">
                                <h3 class="icon-title">{{ 'Nəticələr' |_ }}</h3>
                        
                    </div>
                </div>
            </div>
        </a>
            <div class="col-lg-3 col-md-6 md-mb-30">
                <div class="rs-iconbox-area" style="padding: 50px 10px;">
                    <div class="icon-area icon-area-flags mt-0">
                        <img src="{{'assets/images/germany.png'|theme}}"  alt="" style="width: 80px !important; height: 80px !important">
                        {% if false %}
                            <img src="{{'assets/images/austria.png'|theme}}"  alt="">
                            <img src="{{'assets/images/canada.png'|theme}}"  alt="">
                            <img src="{{'assets/images/norway.png'|theme}}"  alt="">
                        {% endif %}

                    </div>
                    <div class="text-area">
                        <a href="/olkeler/1" class="text-light">
                        <h3 class="icon-title">
                            {{ 'Almaniyada təhsil' |_ }}
                        </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-mb-30">
                <div class="rs-iconbox-area">
                    <div class="icon-area">
                        <img src="{{'assets/images/features/style2/3.png'|theme}}" alt="">
                    </div>
                    <div class="text-area">
                        <a href="{{ 'sign-consultation' | page }}" class="text-light"> <h3 class="icon-title">{{ 'Konsultasiyaya yazıl' |_ }}</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rs-iconbox-area">
                    <div class="icon-area">
                        <img src="{{'assets/images/features/style2/4.png'|theme}}" alt="">
                    </div>
                    
                    <a href="{{ 'service' | page }}/3" class="text-light">
                        <div class="text-area">
                            <h3 class="icon-title">{{ 'Alman dili kursu' |_ }}</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Section End -->

<!-- Counter Section Start -->
<div id="rs-counter" class="rs-counter style2-about pt-100 md-pt-70 mb-5">
	<div class="container">
		<div class="row couter-area justify-content-center">
            {% for counter in company.counters %}
			<div class="col-md-4 mb-30">
				<div class="counter-item text-center">
					<div class="counter-bg">
						<img src="{% if loop.index % 2 == 1 %}{{ 'assets/images/counter/bg1.png' | theme }}{% else %}{{ 'assets/images/counter/bg2.png' | theme }}{% endif %}" alt="Counter Image">
					</div>
					<div class="counter-text">
						<h2 class="rs-count">{{ counter.number }}</h2>
						<h4 class="title mb-0">{{counter.title}}</h4>
					</div>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</div>
<!-- Counter Section End -->
<!-- About Section Start -->
<div class="rs-about style9 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 md-mb-40">
                <div class="img-part js-tilt">
                    <img src="{{'assets/images/about/home9/about.png'|theme}}" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-100 md-pl-25 col-md-12">
                <div class="content">
                    <div class="sub-title mb-20">
                        {{ 'Haqqımızda' |_ }}
                    </div>
                    <h2 class="sl-title mb-40 md-mb-20">{{ company.info[0].title }}</h2>
                    <p class="desc mb-50">
                            {{ company.info[0].text | raw }}
                    </p>
                </div>
                <div class="btn-part">
                    <a class="readon yellow-btn" href="{{ 'about' | page }}">{{ 'Daha ətraflı' |_ }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- Categories Section Start -->
<div id="rs-categories" class="rs-categories home9-style event-bg pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="sec-title3 text-center mb-45">
            <h2 class="title black-color">{{ 'Xidmətlərimiz' |_ }}</h2>
        </div>
        <div class="row">
            {% for service in services %}
            {% if loop.index <=3 %}
            <div class="col-lg-4">
                <div class="categories-items">
                    <div class="images-part">
                        <img src="{{ service.image | media }}" alt="" style="min-height: 250px;width: auto;object-fit: cover">
                    </div>
                    <div class="image-content service-home">

                        <div class="title text-center">
                            <a href="{{ 'service' | page ({id:loop.index}) }}">{{ service.title }}</a>
                        </div>

                        <div class="button-bottom">
                            <div class="button-effect">
                                <a href="{{ 'service' | page ({id:loop.index}) }}">{{ 'Daha ətraflı' |_ }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Categories Section End -->

<!-- CTA Section Start -->
<div class="rs-cta home9-style">
    <div class="partition-bg-wrap">
        <div class="container">
            <div class="row">
                <div class="offset-lg-6"></div>
                <div class="col-lg-6 pl-90 md-pl-15">
                    <div class="sec-title3 mb-40">
                        <h2 class="title white-color pr-70">{{ company.title_text_after_services }}</h2>
                        <div class="desc white-color mb-40">
                        {{ company.text_after_services | raw }}
                        <div class="btn-part">
                            <a class="readon yellow-btn transparent3" href="{{ 'sign-consultation' | page }}">{{ company.button_text_after_services  }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CTA Section End -->


<!-- Testimonial Section Start -->
<div class="rs-testimonial home9-style pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 sm-mb-40">
                <div class="image-part js-tilt">
                    <img src="{{'assets/images/testimonial/style9/1.png'|theme}}" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-6">
                <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30"
                    data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
                    data-dots="true" data-nav="false" data-nav-speed="false" data-md-device="1"
                    data-md-device-nav="false" data-md-device-dots="true" data-center-mode="false" data-ipad-device2="1"
                    data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-ipad-device="1"
                    data-ipad-device-nav="false" data-ipad-device-dots="true" data-mobile-device="1"
                    data-mobile-device-nav="false" data-mobile-device-dots="false">
                    
                    {% for student in students | slice(0,3) %}
                    <div class="testi-item">
                        <div class="item-content">
                                {{ student.info | raw }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <div class="d-flex justify-content-center w-100">
                        <a class="readon yellow-btn mt-100 text" href="{{ 'students' | page }}">{{ 'Daha ətraflı' |_ }}</a>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Testimonial Section End -->

<!-- Blog Section Start -->
<div id="rs-blog" class="rs-blog home9-style event2-bg pt-94 pb-100 md-pt-64 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 pr-75 md-pr-15 md-mb-50">
                <div class="sec-title3 mb-50 md-mb-30">
                    <h2 class="title black-color">{{ 'Xəbər və Yeniliklər' |_ }}</h2>
                </div>
                {% for post in blogPosts.posts %}
                <div class="row align-items-center no-gutter white-bg blog-item mb-30 wow fadeInUp"
                    data-wow-delay="300ms" data-wow-duration="2000ms">
                    <div class="col-md-6">
                        <div class="image-part">
                            <a href="{{ post.url }}"><img src="{{ post.featured_images[0].path }}" alt="{{ image.filename }}"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fa fa-calendar-check-o"></i>{{post.published_at|date('d/m/Y')}}</li>
                            </ul>
                            <h3 class="title"><a href="{{ post.url }}">{{post.title}}</a>
                            </h3>
                            <p class="txt">{{post.excerpt}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-lg-5 lg-pl-0">
                <div class="sec-title3 mb-50 md-mb-30">
                    <h2 class="title black-color">{{ 'Vebinarlar və layihələr' |_ }}</h2>
                </div>
                {% for project in projects %}
                {% if loop.index <=3 %}
                <div class="events-short-top mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                    <div class="date-part">
                        <span class="month">{{ project.date_start | date('M') }}</span>
                        <div class="date">{{ project.date_start | date ('d') }}</div>
                    </div>
                    <div class="content-part ">
                        <div class="categorie">
                        </div>
                        <h3 class="title "><a href="{{ 'events-detailed' | page({id:project.id})}}">{{ project.title }}</a></h3>
                    </div>
                </div>
                {% else %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->

<div class="rs-newsletter style1 event2-bg orange-color mb--90 sm-mb-0 sm-pb-70">
    <div class="container">
       <div class="newsletter-wrap">
          <div class="row y-middle">
                <div class="col-lg-6 col-md-12 md-mb-30">
                   <div class="content-part">
                      <div class="sec-title">
                         <div class="title-icon md-mb-15">
                               <img src="{{ 'assets/images/newsletter.png' | theme }}" alt="images">
                         </div>
                         <h2 class="title mb-0 white-color mt-0">{{ 'Xəbərlərə abunə ol' }}</h2>
                      </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-12">
                   {% component 'Subscriptionform' %}
                </div>
          </div>
       </div>
    </div>
</div>