title = "Услуги"
url = "/uslugi"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Services"
localeUrl[en] = "/services/"

[services]
==
{% partial 'nav/breadcrumb' 
   title = ( 'Xidmətlərimiz' | _ ) 
	links =  [
               { 'title': ( 'Xidmətlərimiz' | _ ) }
			   ]
   %}
   

   {% if false %}
<!-- Popular Courses Section Start -->
<div id="rs-popular-courses" class="rs-popular-courses style1 orange-color pt-50 pb-100 md-pt-70 md-pb-70 gray-bg">
    <div class="container">
        <div class="row grid d-flex justify-content-center">
            <div class="col-12">
                <h2 class="title text-center mt-0 mb-30">
                    {{ 'Əməkdaşlıq etdiyimiz ölkələr' |_ }}
                </h2>
            </div>
            {% for state in states %}
            <div class="col-lg-4 col-md-6 grid-item ">
                <div class="courses-item mb-30">
                    <div class="img-part">
                        <img src="{{ state.image | media }}" alt="">
                    </div>
                    <div class="content-part">
                        <h3 class="title"><a href="{{ 'state' | page({id:state.id}) }}">{{ state.title }}</a></h3>
                        <div class="bottom-part">
                            <ul class="meta-part">
                                <li><a class="categorie" href="{{ 'state' | page({id:state.id}) }}">{{ state.excerpt | raw }}</a></li>
                            </ul>
                            <div class="btn-part">
                                <a href="{{ 'state' | page({id:state.id}) }}"><i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Popular Courses Section End -->
    {% endif %}

<div id="rs-popular-courses" class="rs-popular-courses style1 orange-color pt-50 pb-100 md-pt-70 md-pb-70 event2-bg">
    <div class="container d-flex flex-wrap">
        {% if false %}
        <div class="row grid">
            <div class="col-12">    
                <h2 class="title text-center mt-0 mb-30">
                    {{ 'Xidmətlərimiz' |_ }}
                </h2>
            </div>
        {% endif %}
            {% for service in services %}
            <div class="col-lg-4 col-md-6 grid-item ">
                <div class="courses-item mb-30">
                    <div class="img-part">
                        <img src="{{ service.image | media }}" alt="">
                    </div>
                    <div class="content-part">
                        
                        <h3 class="title"><a href="{{ 'service' | page({id:service.id}) }}">
                        {% if service.is_icon %}
                        <i class="fas fa-{{ service.icon }}"></i> 
                        {% endif %}   
                            {{ service.title }}
                        </a></h3>
                        <div class="bottom-part">
                            <ul class="meta-part">
                                <li><a class="categorie" href="#">{{ service.excerpt | raw }}</a></li>
                            </ul>
                            <div class="btn-part">
                                <a href="{{ 'service' | page({id:service.id}) }}"><i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
</div>
   <!-- Newsletter section start -->
   <div class="rs-newsletter style1 gray-bg orange-color mb--90 sm-mb-0 sm-pb-70">
    <div class="container">
       <div class="newsletter-wrap">
          <div class="row y-middle">
                <div class="col-lg-6 col-md-12 md-mb-30">
                   <div class="content-part">
                      <div class="sec-title">
                         <div class="title-icon md-mb-15">
                               <img src="{{ 'assets/images/newsletter.png' | theme }}" alt="images">
                         </div>
                         <h2 class="title mb-0 white-color mt-0">{{ 'Xəbərlərə abunə ol' }}</h2>
                      </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-12">
                   {% component 'Subscriptionform' %}
                </div>
          </div>
       </div>
    </div>
</div> 
<!-- Newsletter section end -->