title = "Услуги"
url = "/uslugi/:id?"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Services"
localeUrl[en] = "/services/:id?"

[services]
==
<?php
use Gadimliestudio\Services\Models\Service;
public function onStart() {
   $service = Service::find($this->param('id'));
   $this->page->title = $service->title;
   $this['service'] = $service;
}
?>
==
<!-- Main content Start -->
      <div class="main-content">
         <!-- Breadcrumbs Start -->
         <div class="rs-breadcrumbs breadcrumbs-overlay">
             <div class="breadcrumbs-img">
                 <img src="{{ service.image | media }}" alt="Breadcrumbs Image">
             </div>
             <div class="breadcrumbs-text white-color pl-150" >
               <h1 class="page-title d-flex justify-content-start main-color" >{{ service.title }}</h1>
               <ul  class="d-flex justify-content-start ">
                  <li>
                     <a class="active main-color pr-10" href="{{ 'home' | page }}">{{ 'Əsas səhifə' |_ }}</a>
                  </li>
                  
                  <li class="main-color"><span class="pl-10">{{ 'Xidmətlər' }}</span></li>
               </ul>
             </div>
         </div>
         <!-- Breadcrumbs End -->            
         <!-- Intro Courses -->
         <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
             <div class="container">
                 <div class="row clearfix">
                     <!-- Content Column -->
                     <div class="{% if service.video %}col-lg-8{% else %} col-lg-12 {% endif %} md-mb-50">
                         <!-- Intro Info Tabs-->
                         <div class="intro-info-tabs">
                             <ul class="nav nav-tabs intro-tabs tabs-box row px-3" id="myTab" role="tablist">
                                 <li class="nav-item tab-btns col-md-3">
                                     <a class="nav-link tab-btn active" id="prod-overview-tab" data-toggle="tab" href="#prod-overview" role="tab" aria-controls="prod-overview" aria-selected="true">
                                        <p>
                                            {{ 'Umumi melumat' |_ }}
                                        </p>
                                     </a>
                                 </li>
                                 <li class="nav-item tab-btns col-md-3">
                                     <a class="nav-link tab-btn" id="prod-curriculum-tab" data-toggle="tab" href="#prod-curriculum" role="tab" aria-controls="prod-curriculum" aria-selected="false">
                                        <p>
                                            {{ 'Xidmətə daxildir' |_ }}
                                        </p>
                                     </a>
                                 </li>
                                 <li class="nav-item tab-btns col-md-3">
                                     <a class="nav-link tab-btn" id="prod-instructor-tab" data-toggle="tab" href="#prod-instructor" role="tab" aria-controls="prod-instructor" aria-selected="false">
                                        <p>
                                            {{ 'Qiymət' |_ }}
                                        </p>
                                     </a>
                                 </li>
                                 <li class="nav-item tab-btns col-md-3">
                                     <a class="nav-link tab-btn" id="prod-faq-tab" data-toggle="tab" href="#prod-faq" role="tab" aria-controls="prod-faq" aria-selected="false">
                                        <p>
                                            {{ 'Sual-cavab' |_ }}
                                        </p>
                                     </a>
                                 </li>
                             </ul>
                             <div class="tab-content tabs-content" id="myTabContent">
                                 <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel" aria-labelledby="prod-overview-tab">
                                     <div class="content white-bg pt-30">
                                         <!-- Cource Overview -->
                                         <div class="course-overview">
                                            <div class="inner-box">
                                                {{ service.description | raw }}
                                            </div>
                                         </div>                                                
                                     </div>
                                 </div>
                                 <div class="tab-pane fade" id="prod-curriculum" role="tabpanel" aria-labelledby="prod-curriculum-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                           <div class="inner-box">
                                               {{ service.overview | raw }}
                                           </div>
                                        </div>                                                
                                    </div>
                                 </div>
                                 <div class="tab-pane fade" id="prod-instructor" role="tabpanel" aria-labelledby="prod-instructor-tab">
                                     <div class="content pt-30 pb-30 pl-30 pr-30 white-bg">
                                               {{ service.price | raw }}
                                     </div>
                                 </div>
                                 <div class="tab-pane fade" id="prod-faq" role="tabpanel" aria-labelledby="prod-faq-tab">
                                    <div class="content">
                                        <div id="accordion" class="accordion-box">
                                           {% for faq in service.faq %}
                                           <div class="card accordion block">
                                                 <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                       <button class="btn btn-link acc-btn" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">{{ faq.question }}</button>
                                                    </h5>
                                                 </div>
       
                                                 <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                                    <div class="card-body acc-content current">
                                                       <div class="content">
                                                             <div class="clearfix">
                                                                <p>
                                                                   {{ faq.answer }}
                                                                </p>
                                                             </div>
                                                       </div>
       
                                                    </div>
                                                 </div>
                                           </div>
                                           {% endfor %}
                                        </div>                                             
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     {% if service.video %}
                     <!-- Video Column -->
                     <div class="video-column col-lg-4">
                         <div class="inner-column">
                         <!-- Video Box -->
                             <div class="intro-video media-icon orange-color2">
                                 <img class="video-img" src="{{ 'assets/images/about/about-video-bg2.png'| theme }}" alt="Video Image">
                                 <a class="popup-videos" href="https://www.youtube.com/watch?v=JByDbPn6A1o">
                                     <i class="fa fa-play"></i>
                                 </a>
                             </div>
                             <!-- End Video Box -->
  
                         </div>
                     </div>  
                     {% endif %}
                 </div>                
             </div>
         </section>
         <!-- End intro Courses -->

   <!-- Newsletter section start -->
   <div class="rs-newsletter style1 gray-bg orange-color mb--90 sm-mb-0 sm-pb-70">
      <div class="container">
         <div class="newsletter-wrap">
            <div class="row y-middle">
                  <div class="col-lg-6 col-md-12 md-mb-30">
                     <div class="content-part">
                        <div class="sec-title">
                           <div class="title-icon md-mb-15">
                                 <img src="{{ 'assets/images/newsletter.png' | theme }}" alt="images">
                           </div>
                           <h2 class="title mb-0 white-color mt-0">{{ 'Xəbərlərə abunə ol' }}</h2>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                     {% component 'Subscriptionform' %}
                  </div>
            </div>
         </div>
      </div>
</div> 
<!-- Newsletter section end -->
     </div> 
     <!-- Main content End -->